@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Karla', sans-serif;
}

/* header  */
.header {
    background: linear-gradient(#672280, #A626D3);
    color: white;
    height: 10%;
    padding: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header--logo {
    display: flex;
    align-items: center;
    font-weight: bolder;
}

.header--logo img {
    padding-right: 5px;
    height: 50px;
    width: 50px;
}

.header--text {
    padding: 20px 30px;
}

/* form  */
.main {
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form--input-container{
    display:grid;
    grid-template-columns:325px 325px;
    column-gap: 20px;
    grid-template-rows:50px;
}

.form--input{
    border-radius:5px;
    border: 1px solid #D5D4D8;
    color: #0D0D0D;
    font-size: 1rem;
    font-family:'Karla' ,sans-serif;
    text-indent:10px;
}

.btn{
    display: grid;
    grid-template-columns:670px;
    grid-template-rows: 55px;
    justify-items: center;
    align-items: center;
    background: linear-gradient(#672280, #A626D3);
    color: white;
    font-weight: bold;
    font-size: 16px;
    border-radius: 6px;
    border: none;
    font-family:'Karla',sans-serif;
    margin-bottom:45px;
    margin-top:20px;
    cursor:pointer;
}

.img img{
    height: 600px;
    width: 100%;
}
